﻿<div class="input-group input-icon right" ng-class="uiselect.IsOpen?'open':''" name="{{::id}}" id="{{::id}}">
    <input type="text" ng-show="!uiselect.IsOpen" ng-click="uiselect.IsOpen=true"
           ng-disabled="{{to.disabled}}" required
           class="form-control input-sm" ng-model="uiselect.SelectedValue">

     <input type="text" ng-show="uiselect.IsOpen" ng-keypress="event.preventDefault()"
           ng-click="uiselect.OnClick()" ng-focus="uiselect.IsOpen"
           class="form-control input-sm" ng-model="uiselect.SearchValue" placeholder="-- {{to.placeholder}} --">
    <span class="input-group-btn">
        <button class="btn btn-sm btn-primary" ng-click="uiselect.OnClick()" type="button"><i ng-class="uiselect.IsOpen?'fa fa-angle-up':'fa fa-angle-down'"></i></button>
    </span>
    <ul class="dropdown-menu dropdown-menu-sm dropdown-menu-right" style="margin-top:0;max-height:350px;overflow-y:scroll" role="menu">
        <li ng-repeat="option in to.options | filter: uiselect.SearchValue" ng-include="'template'"></li>
    </ul>
</div>

<div class="error">
    <small class="error" ng-show="uiselect.SelectedValue==null">
        Trường bắt buộc
    </small>
    <small class="error ng-hide" ng-show="MyForm.Name.$error.maxlength">
        Tên loại hình không được quá 512 ký tự
    </small>
</div>
<script type="text/ng-template" id="template">
    <a href="javascript:;" ng-click="uiselect.SetData(option)" ng-bind-html="option[to.labelProp] | highlight:uiselect.SearchValue"></a>
    <ul class="submenu" ng-show="option.SubChild.length>0">
        <li ng-repeat="option in option.SubChild | filter: uiselect.SearchValue" ng-include="'template'"></li>
    </ul>
</script>
