﻿.cssload-wraper {
    width: 0px;
    display: block;
    margin: 97px auto;
}

.cssload-dots {
    font-family: sans-serif;
    font-weight: 100;
}

    .cssload-dots:not(:required) {
        overflow: hidden;
        position: relative;
        text-indent: -9749px;
        display: inline-block;
        width: 7px;
        height: 7px;
        background: transparent;
        border-radius: 100%;
        box-shadow: rgb(255,136,102) -14px -14px 0 7px, rgb(255,204,102) 14px -14px 0 7px, rgb(102,221,119) 14px 14px 0 7px, rgb(68,170,238) -14px 14px 0 7px;
        -o-box-shadow: rgb(255,136,102) -14px -14px 0 7px, rgb(255,204,102) 14px -14px 0 7px, rgb(102,221,119) 14px 14px 0 7px, rgb(68,170,238) -14px 14px 0 7px;
        -ms-box-shadow: rgb(255,136,102) -14px -14px 0 7px, rgb(255,204,102) 14px -14px 0 7px, rgb(102,221,119) 14px 14px 0 7px, rgb(68,170,238) -14px 14px 0 7px;
        -webkit-box-shadow: rgb(255,136,102) -14px -14px 0 7px, rgb(255,204,102) 14px -14px 0 7px, rgb(102,221,119) 14px 14px 0 7px, rgb(68,170,238) -14px 14px 0 7px;
        -moz-box-shadow: rgb(255,136,102) -14px -14px 0 7px, rgb(255,204,102) 14px -14px 0 7px, rgb(102,221,119) 14px 14px 0 7px, rgb(68,170,238) -14px 14px 0 7px;
        animation: cssload-dots 5.75s infinite ease-in-out;
        -o-animation: cssload-dots 5.75s infinite ease-in-out;
        -ms-animation: cssload-dots 5.75s infinite ease-in-out;
        -webkit-animation: cssload-dots 5.75s infinite ease-in-out;
        -moz-animation: cssload-dots 5.75s infinite ease-in-out;
        transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
    }



@keyframes cssload-dots {
    0% {
        box-shadow: white 0 0 15px 0, rgb(255,136,102) -14px -14px 0 7px, rgb(255,204,102) 14px -14px 0 7px, rgb(102,221,119) 14px 14px 0 7px, rgb(68,170,238) -14px 14px 0 7px;
    }

    8.33% {
        box-shadow: white 0 0 15px 0, rgb(255,136,102) 14px -14px 0 7px, rgb(255,204,102) 14px -14px 0 7px, rgb(102,221,119) 14px 14px 0 7px, rgb(68,170,238) -14px 14px 0 7px;
    }

    16.67% {
        box-shadow: white 0 0 15px 0, rgb(255,136,102) 14px 14px 0 7px, rgb(255,204,102) 14px 14px 0 7px, rgb(102,221,119) 14px 14px 0 7px, rgb(68,170,238) -14px 14px 0 7px;
    }

    25% {
        box-shadow: white 0 0 15px 0, #ff8866 -14px 14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px 14px 0 7px, #44aaee -14px 14px 0 7px;
    }

    33.33% {
        box-shadow: white 0 0 15px 0, #ff8866 -14px -14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee -14px -14px 0 7px;
    }

    41.67% {
        box-shadow: white 0 0 15px 0, #ff8866 14px -14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px;
    }

    50% {
        box-shadow: white 0 0 15px 0, #ff8866 14px 14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px;
    }

    58.33% {
        box-shadow: white 0 0 15px 0, #ff8866 -14px 14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px;
    }

    66.67% {
        box-shadow: white 0 0 15px 0, #ff8866 -14px -14px 0 7px, #ffcc66 -14px -14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px;
    }

    75% {
        box-shadow: white 0 0 15px 0, #ff8866 14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px -14px 0 7px, #44aaee 14px -14px 0 7px;
    }

    83.33% {
        box-shadow: white 0 0 15px 0, #ff8866 14px 14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee 14px 14px 0 7px;
    }

    91.67% {
        box-shadow: white 0 0 15px 0, #ff8866 -14px 14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px;
    }

    100% {
        box-shadow: white 0 0 15px 0, #ff8866 -14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px;
    }
}

@-o-keyframes cssload-dots {
    0% {
        box-shadow: white 0 0 15px 0, rgb(255,136,102) -14px -14px 0 7px, rgb(255,204,102) 14px -14px 0 7px, rgb(102,221,119) 14px 14px 0 7px, rgb(68,170,238) -14px 14px 0 7px;
    }

    8.33% {
        box-shadow: white 0 0 15px 0, rgb(255,136,102) 14px -14px 0 7px, rgb(255,204,102) 14px -14px 0 7px, rgb(102,221,119) 14px 14px 0 7px, rgb(68,170,238) -14px 14px 0 7px;
    }

    16.67% {
        box-shadow: white 0 0 15px 0, rgb(255,136,102) 14px 14px 0 7px, rgb(255,204,102) 14px 14px 0 7px, rgb(102,221,119) 14px 14px 0 7px, rgb(68,170,238) -14px 14px 0 7px;
    }

    25% {
        box-shadow: white 0 0 15px 0, #ff8866 -14px 14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px 14px 0 7px, #44aaee -14px 14px 0 7px;
    }

    33.33% {
        box-shadow: white 0 0 15px 0, #ff8866 -14px -14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee -14px -14px 0 7px;
    }

    41.67% {
        box-shadow: white 0 0 15px 0, #ff8866 14px -14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px;
    }

    50% {
        box-shadow: white 0 0 15px 0, #ff8866 14px 14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px;
    }

    58.33% {
        box-shadow: white 0 0 15px 0, #ff8866 -14px 14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px;
    }

    66.67% {
        box-shadow: white 0 0 15px 0, #ff8866 -14px -14px 0 7px, #ffcc66 -14px -14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px;
    }

    75% {
        box-shadow: white 0 0 15px 0, #ff8866 14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px -14px 0 7px, #44aaee 14px -14px 0 7px;
    }

    83.33% {
        box-shadow: white 0 0 15px 0, #ff8866 14px 14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee 14px 14px 0 7px;
    }

    91.67% {
        box-shadow: white 0 0 15px 0, #ff8866 -14px 14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px;
    }

    100% {
        box-shadow: white 0 0 15px 0, #ff8866 -14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px;
    }
}

@-ms-keyframes cssload-dots {
    0% {
        box-shadow: white 0 0 15px 0, rgb(255,136,102) -14px -14px 0 7px, rgb(255,204,102) 14px -14px 0 7px, rgb(102,221,119) 14px 14px 0 7px, rgb(68,170,238) -14px 14px 0 7px;
    }

    8.33% {
        box-shadow: white 0 0 15px 0, rgb(255,136,102) 14px -14px 0 7px, rgb(255,204,102) 14px -14px 0 7px, rgb(102,221,119) 14px 14px 0 7px, rgb(68,170,238) -14px 14px 0 7px;
    }

    16.67% {
        box-shadow: white 0 0 15px 0, rgb(255,136,102) 14px 14px 0 7px, rgb(255,204,102) 14px 14px 0 7px, rgb(102,221,119) 14px 14px 0 7px, rgb(68,170,238) -14px 14px 0 7px;
    }

    25% {
        box-shadow: white 0 0 15px 0, #ff8866 -14px 14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px 14px 0 7px, #44aaee -14px 14px 0 7px;
    }

    33.33% {
        box-shadow: white 0 0 15px 0, #ff8866 -14px -14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee -14px -14px 0 7px;
    }

    41.67% {
        box-shadow: white 0 0 15px 0, #ff8866 14px -14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px;
    }

    50% {
        box-shadow: white 0 0 15px 0, #ff8866 14px 14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px;
    }

    58.33% {
        box-shadow: white 0 0 15px 0, #ff8866 -14px 14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px;
    }

    66.67% {
        box-shadow: white 0 0 15px 0, #ff8866 -14px -14px 0 7px, #ffcc66 -14px -14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px;
    }

    75% {
        box-shadow: white 0 0 15px 0, #ff8866 14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px -14px 0 7px, #44aaee 14px -14px 0 7px;
    }

    83.33% {
        box-shadow: white 0 0 15px 0, #ff8866 14px 14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee 14px 14px 0 7px;
    }

    91.67% {
        box-shadow: white 0 0 15px 0, #ff8866 -14px 14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px;
    }

    100% {
        box-shadow: white 0 0 15px 0, #ff8866 -14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px;
    }
}

@-webkit-keyframes cssload-dots {
    0% {
        box-shadow: white 0 0 15px 0, rgb(255,136,102) -14px -14px 0 7px, rgb(255,204,102) 14px -14px 0 7px, rgb(102,221,119) 14px 14px 0 7px, rgb(68,170,238) -14px 14px 0 7px;
    }

    8.33% {
        box-shadow: white 0 0 15px 0, rgb(255,136,102) 14px -14px 0 7px, rgb(255,204,102) 14px -14px 0 7px, rgb(102,221,119) 14px 14px 0 7px, rgb(68,170,238) -14px 14px 0 7px;
    }

    16.67% {
        box-shadow: white 0 0 15px 0, rgb(255,136,102) 14px 14px 0 7px, rgb(255,204,102) 14px 14px 0 7px, rgb(102,221,119) 14px 14px 0 7px, rgb(68,170,238) -14px 14px 0 7px;
    }

    25% {
        box-shadow: white 0 0 15px 0, #ff8866 -14px 14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px 14px 0 7px, #44aaee -14px 14px 0 7px;
    }

    33.33% {
        box-shadow: white 0 0 15px 0, #ff8866 -14px -14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee -14px -14px 0 7px;
    }

    41.67% {
        box-shadow: white 0 0 15px 0, #ff8866 14px -14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px;
    }

    50% {
        box-shadow: white 0 0 15px 0, #ff8866 14px 14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px;
    }

    58.33% {
        box-shadow: white 0 0 15px 0, #ff8866 -14px 14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px;
    }

    66.67% {
        box-shadow: white 0 0 15px 0, #ff8866 -14px -14px 0 7px, #ffcc66 -14px -14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px;
    }

    75% {
        box-shadow: white 0 0 15px 0, #ff8866 14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px -14px 0 7px, #44aaee 14px -14px 0 7px;
    }

    83.33% {
        box-shadow: white 0 0 15px 0, #ff8866 14px 14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee 14px 14px 0 7px;
    }

    91.67% {
        box-shadow: white 0 0 15px 0, #ff8866 -14px 14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px;
    }

    100% {
        box-shadow: white 0 0 15px 0, #ff8866 -14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px;
    }
}

@-moz-keyframes cssload-dots {
    0% {
        box-shadow: white 0 0 15px 0, rgb(255,136,102) -14px -14px 0 7px, rgb(255,204,102) 14px -14px 0 7px, rgb(102,221,119) 14px 14px 0 7px, rgb(68,170,238) -14px 14px 0 7px;
    }

    8.33% {
        box-shadow: white 0 0 15px 0, rgb(255,136,102) 14px -14px 0 7px, rgb(255,204,102) 14px -14px 0 7px, rgb(102,221,119) 14px 14px 0 7px, rgb(68,170,238) -14px 14px 0 7px;
    }

    16.67% {
        box-shadow: white 0 0 15px 0, rgb(255,136,102) 14px 14px 0 7px, rgb(255,204,102) 14px 14px 0 7px, rgb(102,221,119) 14px 14px 0 7px, rgb(68,170,238) -14px 14px 0 7px;
    }

    25% {
        box-shadow: white 0 0 15px 0, #ff8866 -14px 14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px 14px 0 7px, #44aaee -14px 14px 0 7px;
    }

    33.33% {
        box-shadow: white 0 0 15px 0, #ff8866 -14px -14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee -14px -14px 0 7px;
    }

    41.67% {
        box-shadow: white 0 0 15px 0, #ff8866 14px -14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px;
    }

    50% {
        box-shadow: white 0 0 15px 0, #ff8866 14px 14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px;
    }

    58.33% {
        box-shadow: white 0 0 15px 0, #ff8866 -14px 14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px;
    }

    66.67% {
        box-shadow: white 0 0 15px 0, #ff8866 -14px -14px 0 7px, #ffcc66 -14px -14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px;
    }

    75% {
        box-shadow: white 0 0 15px 0, #ff8866 14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px -14px 0 7px, #44aaee 14px -14px 0 7px;
    }

    83.33% {
        box-shadow: white 0 0 15px 0, #ff8866 14px 14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee 14px 14px 0 7px;
    }

    91.67% {
        box-shadow: white 0 0 15px 0, #ff8866 -14px 14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px;
    }

    100% {
        box-shadow: white 0 0 15px 0, #ff8866 -14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px;
    }
}

/*---------*/

.cssload-loader {
    width: 244px;
    height: 49px;
    line-height: 49px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    font-family: helvetica, arial, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 18px;
    color: rgb(206,66,51);
    letter-spacing: 0.2em;
}

    .cssload-loader::before, .cssload-loader::after {
        content: "";
        display: block;
        width: 15px;
        height: 15px;
        background: rgb(206,66,51);
        position: absolute;
        animation: cssload-load 0.81s infinite alternate ease-in-out;
        -o-animation: cssload-load 0.81s infinite alternate ease-in-out;
        -ms-animation: cssload-load 0.81s infinite alternate ease-in-out;
        -webkit-animation: cssload-load 0.81s infinite alternate ease-in-out;
        -moz-animation: cssload-load 0.81s infinite alternate ease-in-out;
    }

    .cssload-loader::before {
        top: 0;
    }

    .cssload-loader::after {
        bottom: 0;
    }



@keyframes cssload-load {
    0% {
        left: 0;
        height: 29px;
        width: 15px;
    }

    50% {
        height: 8px;
        width: 39px;
    }

    100% {
        left: 229px;
        height: 29px;
        width: 15px;
    }
}

@-o-keyframes cssload-load {
    0% {
        left: 0;
        height: 29px;
        width: 15px;
    }

    50% {
        height: 8px;
        width: 39px;
    }

    100% {
        left: 229px;
        height: 29px;
        width: 15px;
    }
}

@-ms-keyframes cssload-load {
    0% {
        left: 0;
        height: 29px;
        width: 15px;
    }

    50% {
        height: 8px;
        width: 39px;
    }

    100% {
        left: 229px;
        height: 29px;
        width: 15px;
    }
}

@-webkit-keyframes cssload-load {
    0% {
        left: 0;
        height: 29px;
        width: 15px;
    }

    50% {
        height: 8px;
        width: 39px;
    }

    100% {
        left: 229px;
        height: 29px;
        width: 15px;
    }
}

@-moz-keyframes cssload-load {
    0% {
        left: 0;
        height: 29px;
        width: 15px;
    }

    50% {
        height: 8px;
        width: 39px;
    }

    100% {
        left: 229px;
        height: 29px;
        width: 15px;
    }
}
/*--------------------------------*/

.bookshelf_wrapper {
    position: relative;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    zoom: 65%;
}

.books_list {
    margin: 0 auto;
    width: 300px;
    padding: 0;
}

.book_item {
    position: absolute;
    top: -120px;
    box-sizing: border-box;
    list-style: none;
    width: 40px;
    height: 120px;
    opacity: 0;
    background-color: #1e6cc7;
    border: 5px solid white;
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
    -webkit-animation: travel 2500ms linear infinite;
    animation: travel 2500ms linear infinite;
}

    .book_item.first {
        top: -140px;
        height: 140px;
    }

        .book_item.first:before, .book_item.first:after {
            content: '';
            position: absolute;
            top: 10px;
            left: 0;
            width: 100%;
            height: 5px;
            background-color: white;
        }

        .book_item.first:after {
            top: initial;
            bottom: 10px;
        }

    .book_item.second:before, .book_item.second:after, .book_item.fifth:before, .book_item.fifth:after {
        box-sizing: border-box;
        content: '';
        position: absolute;
        top: 10px;
        left: 0;
        width: 100%;
        height: 17.5px;
        border-top: 5px solid white;
        border-bottom: 5px solid white;
    }

    .book_item.second:after, .book_item.fifth:after {
        top: initial;
        bottom: 10px;
    }

    .book_item.third:before, .book_item.third:after {
        box-sizing: border-box;
        content: '';
        position: absolute;
        top: 10px;
        left: 9px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 5px solid white;
    }

    .book_item.third:after {
        top: initial;
        bottom: 10px;
    }

    .book_item.fourth {
        top: -130px;
        height: 130px;
    }

        .book_item.fourth:before {
            box-sizing: border-box;
            content: '';
            position: absolute;
            top: 46px;
            left: 0;
            width: 100%;
            height: 17.5px;
            border-top: 5px solid white;
            border-bottom: 5px solid white;
        }

    .book_item.fifth {
        top: -100px;
        height: 100px;
    }

    .book_item.sixth {
        top: -140px;
        height: 140px;
    }

        .book_item.sixth:before {
            box-sizing: border-box;
            content: '';
            position: absolute;
            bottom: 31px;
            left: 0px;
            width: 100%;
            height: 5px;
            background-color: white;
        }

        .book_item.sixth:after {
            box-sizing: border-box;
            content: '';
            position: absolute;
            bottom: 10px;
            left: 9px;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            border: 5px solid white;
        }

    .book_item:nth-child(2) {
        -webkit-animation-delay: 416.66667ms;
        animation-delay: 416.66667ms;
    }

    .book_item:nth-child(3) {
        -webkit-animation-delay: 833.33333ms;
        animation-delay: 833.33333ms;
    }

    .book_item:nth-child(4) {
        -webkit-animation-delay: 1250ms;
        animation-delay: 1250ms;
    }

    .book_item:nth-child(5) {
        -webkit-animation-delay: 1666.66667ms;
        animation-delay: 1666.66667ms;
    }

    .book_item:nth-child(6) {
        -webkit-animation-delay: 2083.33333ms;
        animation-delay: 2083.33333ms;
    }

.shelf {
    width: 300px;
    height: 5px;
    margin: 0 auto;
    background-color: white;
    position: relative;
}

    .shelf:before, .shelf:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #1e6cc7;
        background-image: -webkit-radial-gradient(rgba(255, 255, 255, 0.5) 30%, rgba(0, 0, 0, 0) 0%);
        background-image: radial-gradient(rgba(255, 255, 255, 0.5) 30%, rgba(0, 0, 0, 0) 0%);
        background-size: 10px 10px;
        background-position: 0 -2.5px;
        top: 200%;
        left: 5%;
        -webkit-animation: move 250ms linear infinite;
        animation: move 250ms linear infinite;
    }

    .shelf:after {
        top: 400%;
        left: 7.5%;
    }

@-webkit-keyframes move {
    from {
        background-position-x: 0;
    }

    to {
        background-position-x: 10px;
    }
}

@keyframes move {
    from {
        background-position-x: 0;
    }

    to {
        background-position-x: 10px;
    }
}

@-webkit-keyframes travel {
    0% {
        opacity: 0;
        -webkit-transform: translateX(300px) rotateZ(0deg) scaleY(1);
        transform: translateX(300px) rotateZ(0deg) scaleY(1);
    }

    6.5% {
        -webkit-transform: translateX(279.5px) rotateZ(0deg) scaleY(1.1);
        transform: translateX(279.5px) rotateZ(0deg) scaleY(1.1);
    }

    8.8% {
        -webkit-transform: translateX(273.6px) rotateZ(0deg) scaleY(1);
        transform: translateX(273.6px) rotateZ(0deg) scaleY(1);
    }

    10% {
        opacity: 1;
        -webkit-transform: translateX(270px) rotateZ(0deg);
        transform: translateX(270px) rotateZ(0deg);
    }

    17.6% {
        -webkit-transform: translateX(247.2px) rotateZ(-30deg);
        transform: translateX(247.2px) rotateZ(-30deg);
    }

    45% {
        -webkit-transform: translateX(165px) rotateZ(-30deg);
        transform: translateX(165px) rotateZ(-30deg);
    }

    49.5% {
        -webkit-transform: translateX(151.5px) rotateZ(-45deg);
        transform: translateX(151.5px) rotateZ(-45deg);
    }

    61.5% {
        -webkit-transform: translateX(115.5px) rotateZ(-45deg);
        transform: translateX(115.5px) rotateZ(-45deg);
    }

    67% {
        -webkit-transform: translateX(99px) rotateZ(-60deg);
        transform: translateX(99px) rotateZ(-60deg);
    }

    76% {
        -webkit-transform: translateX(72px) rotateZ(-60deg);
        transform: translateX(72px) rotateZ(-60deg);
    }

    83.5% {
        opacity: 1;
        -webkit-transform: translateX(49.5px) rotateZ(-90deg);
        transform: translateX(49.5px) rotateZ(-90deg);
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        -webkit-transform: translateX(0px) rotateZ(-90deg);
        transform: translateX(0px) rotateZ(-90deg);
    }
}

@keyframes travel {
    0% {
        opacity: 0;
        -webkit-transform: translateX(300px) rotateZ(0deg) scaleY(1);
        transform: translateX(300px) rotateZ(0deg) scaleY(1);
    }

    6.5% {
        -webkit-transform: translateX(279.5px) rotateZ(0deg) scaleY(1.1);
        transform: translateX(279.5px) rotateZ(0deg) scaleY(1.1);
    }

    8.8% {
        -webkit-transform: translateX(273.6px) rotateZ(0deg) scaleY(1);
        transform: translateX(273.6px) rotateZ(0deg) scaleY(1);
    }

    10% {
        opacity: 1;
        -webkit-transform: translateX(270px) rotateZ(0deg);
        transform: translateX(270px) rotateZ(0deg);
    }

    17.6% {
        -webkit-transform: translateX(247.2px) rotateZ(-30deg);
        transform: translateX(247.2px) rotateZ(-30deg);
    }

    45% {
        -webkit-transform: translateX(165px) rotateZ(-30deg);
        transform: translateX(165px) rotateZ(-30deg);
    }

    49.5% {
        -webkit-transform: translateX(151.5px) rotateZ(-45deg);
        transform: translateX(151.5px) rotateZ(-45deg);
    }

    61.5% {
        -webkit-transform: translateX(115.5px) rotateZ(-45deg);
        transform: translateX(115.5px) rotateZ(-45deg);
    }

    67% {
        -webkit-transform: translateX(99px) rotateZ(-60deg);
        transform: translateX(99px) rotateZ(-60deg);
    }

    76% {
        -webkit-transform: translateX(72px) rotateZ(-60deg);
        transform: translateX(72px) rotateZ(-60deg);
    }

    83.5% {
        opacity: 1;
        -webkit-transform: translateX(49.5px) rotateZ(-90deg);
        transform: translateX(49.5px) rotateZ(-90deg);
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        -webkit-transform: translateX(0px) rotateZ(-90deg);
        transform: translateX(0px) rotateZ(-90deg);
    }
}
.bookshelf_wrapper.default-color .shelf:before, .bookshelf_wrapper.default-color .shelf:after {
    background: #2b3643 !important;
}
.bookshelf_wrapper.default-color .book_item {
    background-color: #2b3643 !important;
    border: 5px solid #333;
}
