﻿
<div class="input-group" style="min-width:50px">
    <input type="text"ng-model="model[options.key]" />
    <span class="input-group-btn">
        <formly-transclude></formly-transclude>
    </span>
</div>