h1,h2,h3,h4,h5 {
  font-family: "Trebuchet MS"
}

.container {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  clear: both;
}

.pageTitle img {
  float: left;
  margin-right: 20px;
}

.pageTitle span {
  display: block;
  float: left;
  margin-top: 50px;
}

.pageTitle h1 {
  overflow: hidden;
}