.page-content-wrapper .page-content {
    padding: 0px !important;
}

.page-sidebar .page-sidebar-menu .sub-menu > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a {
    color: #ffffff !important;
    font-weight: 300 !important;
}

.page-sidebar .page-sidebar-menu > li.open > a, .page-sidebar .page-sidebar-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a {
    color: #ffffff !important;
    font-weight: 600 !important;
}

.page-sidebar .page-sidebar-menu > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a {
    color: #ffffff !important;
    font-weight: 600 !important;
}

    .page-sidebar .page-sidebar-menu > li > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i {
        color: #ffffff !important;
    }

.page-sidebar .sidebar-search .input-group .input-group-btn .btn > i, .page-sidebar-closed .page-sidebar .sidebar-search.open .remove > i, .page-sidebar-closed .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search.open .remove > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group .input-group-btn .btn > i {
    color: #ffffff;
}

.page-sidebar .sidebar-search .input-group, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group {
    color: #ffffff;
}

/*.page-sidebar .page-sidebar-menu > li > a > .title, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > .title {
    margin-right: 15px;
}

.page-sidebar .page-sidebar-menu .sub-menu > li > a > .title, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > .title {
    margin-right: 15px;
}*/
/*//////////////////////////////////*/
/*.page-header.navbar { 
    height: 75px!important;
    min-height: 75px!important;
}
.page-header-fixed .page-container {
    margin-top: 75px!important;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown { 
    height: 75px!important;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle:hover, .page-header.navbar .top-menu .navbar-nav>li.dropdown.open .dropdown-toggle {
   height: 75px!important;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown>.dropdown-toggle {
    margin: 0;
    padding: 29px 12px 24px!important;
}
.page-header.navbar .menu-toggler.sidebar-toggler { 
    margin: 25px 0px 0!important;
}*/
